#recombee-recommendation-engine-update p.dummy {
    display: none;
}
.recombee_plugin_upgrade_notice {
    margin-bottom: 10px;
}
.custom-scope .recombee-dialog-warning ul {
    list-style-position: inside !important;
    list-style: square;
}
.custom-scope .recombee-dialog-warning ~ .ui-widget-overlay {
    opacity: .7;
	transition: all .5s .1s;
}
.custom-scope .recombee-dialog-warning p {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    line-height: 1.7em;
}
.custom-scope .recombee-dialog-warning .ui-widget-content a {
    box-shadow: none;
}
.custom-scope .recombee-dialog-warning {
    box-shadow: 0px 10px 40px 0px #00000063;
}
.custom-scope .recombee-dialog-warning .wparam {
    border: 1px solid #7dbbde;
    padding: 1px 2px;
    background: #e0f3fd;
}
.custom-scope .ui-state-default.ui-dialog-titlebar-close:before {
    content: '';
}
.custom-scope .ui-dialog .ui-dialog-buttonpane button {
    padding: 0;
}
